.create-recipe-wrapper {
    background-color: lavender;
}

.create-recipe-wrapper button {
    margin-bottom: 10px;
}

.create-recipe-wrapper button:hover {
    background-color: #78C2AD;
    color: black;
    cursor: pointer;
}

.create-recipe-wrapper .container {
    background-color: lightgray;
    padding: 10px;
}