.pic-fav-recipe {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 0.1rem hidden;
    background-color: white;
}

.custom-title-fav-recipe {
    color: #78C2AD
}

.custom-title-fav-recipe:hover {
    cursor: pointer;
}