.app {
    width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none;
}

.cursive-font-style {
    font-family: 'Akaya Telivigala', cursive;
}

.fill {
    background-color: lavender;
}

.hr-fill {
    border-top-color: lavender;
}

.hover-effect:hover {
    cursor: pointer;
    color: #78C2AD;
    font-weight: bold;
}

.hover-effect {
    margin-left: 10px;
    color: black;
    font-weight: bold;
}

.hover-effect:hover {
    cursor: pointer;
    color: #78C2AD;
    font-weight: bold;
    text-decoration: none;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-table {
    background-color: white;
}