.bold-admin-dashboard {
    font-size: 20px;
    font-weight: bold;
}

.admin-hr-dashboard {
    margin: 20px;
}

.admin-ul {
    text-align: center;
}

.admin-li {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.admin-li-wrapper .custom-btn:first-of-type {
    margin-right: 20px;
}

.admin-li-title {
    color: #54BAB9;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}