.recipe-details-img {
    width: 550px;
    height: 500px;
    object-fit: cover;
    border: 0.1rem hidden;
    padding: 10px;
    background-color: white;
}

.recipe-details-wrapper .fa-heart:hover {
    cursor: pointer;
}

.recipe-details-wrapper .fa-users,
.recipe-details-wrapper .fa-utensils,
.recipe-details-wrapper .fa-clock,
.recipe-details-wrapper .fa-book,
.recipe-details-wrapper .fa-check {
    color: #78C2AD;
    font-weight: bold;
}

.recipe-details-wrapper {
    background-color: lavender;
}

.feature-title {
    font-weight: bold;
    color: #78C2AD;
}

.item-title {
    color: #78C2AD;
}

.recipe-details-wrapper hr {
    margin-right: 20px;
}

.custom-margin-left {
    margin-left: 20px;
}

.meta {
    text-align: center;
    color: #78C2AD;
    font-size: 18px;
}

.like-text {
    color: #78C2AD;
    font-style: italic;
    font-weight: 200;
}