.ingredient-label {
    font-weight: bold;
}

.custom-color-green {
    color: #54BAB9;
    font-weight: 600;
}

.required-ingredient {
    color: red;
    margin: 10px;
    font-size: 14px;
}

.ingredient-article .special-btn {
    width: 15%;
}

.ingredient-article .custom-btn.warning {
    margin-left: 20px;
}