.img-recipe {
    width: 100%;
    height: 300px;
    border: 0.1rem hidden;
    padding: 10px;
    background-color: white;
}

.card-body .button-recipe {
    margin-bottom: 10px;
}

.card-body .button-recipe:hover {
    background-color: #78C2AD;
    border-color: #78C2AD;
    color: black;
    cursor: pointer;
}

.custom-card-recipe .card-header {
    background-color: #78C2AD;
}

.recipe-title {
    font-weight: 400;
    color: white;
    text-align: center;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-details .fa-book,
.recipe-details .fa-comments,
.recipe-details .fa-heart {
    color: #78C2AD;
    margin-right: 10px;
}

.hover-effect {
    margin-left: 10px;
    color: black;
}

.hover-effect:hover {
    cursor: pointer;
    color: #78C2AD;
    font-weight: bold;
}