.img-recipe {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 0.1rem hidden;
    padding: 10px;
    background-color: white;
}

.card-body .custom-btn {
    width: 150px;
}

.custom-card-recipe {
    margin-bottom: 20px;
    width: 32%;
}

.custom-card-recipe .card-header {
    background-color: #54BAB9;
}

.recipe-title {
    font-weight: 400;
    color: white;
    text-align: center;
}

.recipe-details .fa-book,
.recipe-details .fa-comments,
.recipe-details .fa-heart {
    color: #54BAB9;
    margin-right: 10px;
}